.margin_class{
    margin:10px;
}
.table_width{
    width:100%;
}
.wrapper_class_scroll_property{
    height: 414px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.card_custom_shadow{
    box-shadow: 5px 6px 10px 0px #0000ff75 !important;
    border: 1px solid #0000ff36 !important;
    border-radius: 8px !important;
}
.custom_padding{
    padding: 6px 0px 6px 0px !important;
}
