.hundred_Percentage_Width{
    width: 100%;
}

.my_search_panel {
    background-color: #64b5f6;
  }

  .noUi-horizontal .noUi-handle {
    background: #3f51b5;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    background: #2196F3;
    color: #f5efef;
    padding: 2px;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
}
.noUi-connect {
    background: #4285f4;
}
.card_custom_css {
    background: #3f51b5 !important;
    color: white !important;
    font-size: larger !important;
    box-shadow: 4px 3px 7px 2px #a59c9c !important;
}